
/* // HEADER */



/* MAIN */

h1{
  text-align: center;
  align-items: center;
  margin-top: 80px;
}
.form-oferta{
  width: 400px;
  margin: 10px auto 0 auto;
  background-color: rgb(171, 205, 250);
  padding: 40px 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 10px 1px black;
  border-radius: 10px;
}
.form-oferta input{
  border-radius: 10px;
  border: none;
  padding: 5px;
}
.oferta-boton{
  margin-top: 50px;
  padding: 7px 13px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #0b8dea;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
}
.oferta-boton:hover{
  background-color: #71bcf1;
}
.aviso-oferta{
  background-color: var(--clarito-color);
  width: 70%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  margin-top: 100px;
  border-radius: 18px;
  border: 1px solid var(--principal-color);
  box-shadow: 0 0 10px 1px black;
}
.aviso-oferta button{
  padding: 7px 14px;
  border-radius: 10px;
  border: none;
  background-color: rgb(228, 120, 120);
  cursor: pointer;
}
.aviso-oferta button:hover{
  background-color: rgb(245, 168, 168);
}


/*alerta personalizada :)*/


#fondoOscuro {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

#alertaPersonalizada {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(206, 224, 255);
    width: 700px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 799999px 90px black;
    z-index: 1000;
}

.p-alerta1 {
    text-align: center;
    font-size: 19px;
    padding-top: 50px;
}

.p-alerta2 {
    text-align: center;
    font-size: 19px;
    padding-top: 17px;
}

.botonyalerta {
    height: 100%;
}

.boton-alerta {
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: end;
    align-items: end;
}

#alertaPersonalizada button {
    display: flex;
    margin: 40px auto;
    padding: 10px 50px;
    border-radius: 10px;
    border: 1px solid var(--secundario-color);
    background-color: var(--principal-color);
    box-shadow: 0 0 10px 1px black;
    cursor: pointer;
}

#alertaPersonalizada button:hover {
    opacity: .7;
}
