
  /* // HEADER */
  

/*FORM REGISTER */

.div-container {
    max-width: 770px;
    background-color: var(--clarito-color);
    display: flex;
    margin: 90px auto;
    border-radius: 30px;
    box-shadow: 0 0 15px black;
    border: 2px solid rgb(4, 26, 53);
    min-height: 780px;
    user-select: none;
}

@media (max-width: 820px) {
    .div-container {
        width: 90%;
    }
}

.container {
    display: flex;
}

.todo-formulario {
    width: 50%;
}

.form-container {
    background-color: var(--principal-color);
    height: 100%;
    width: 100%;
    align-items: end;
    border-radius: 30px 0 0 30px;
}

.formulario-container {
    border-radius: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    height: 600px;
}

h1 {
    font-family: sans-serif;
    font-size: 2rem;
    margin: 50px 0 0 0;
    justify-content: center;
    text-align: center;
}

.prueba2 {
    display: flex;
    flex-direction: column;
}

.prueba {
    border-top: 1px solid var(--clarito-color);
    width: 88%;
    margin: 15px auto 10px auto;
}

.form_input {
    width: 100%;
    margin: auto;
}


/*IMG DEL LOGO FORMULARIO*/

.todo-img {
    width: 50%;
    display: flex;
    background-image: radial-gradient(white, rgb(157, 195, 254));
    border-radius: 0 30px 30px 0;
}

.img-div-form {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    user-select: none;
}


/* BOTON DEL FORMULARIO */

.boton-log {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 12px;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    user-select: none;
    background-color: #3fb6e2;
    border: 1px solid black;
    margin: 0 30px;
}

.boton-log:hover {
    opacity: .7;
}

.boton-loginnn {
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    user-select: none;
    background-color: #ace9ff;
    border: 1px solid black;
    margin: 20px 30px 0 30px;
    padding: 12px;
    cursor: pointer;
}

.boton-loginnn:hover {
    opacity: .7;
}

.o {
    text-align: center;
    border-bottom: 1px solid var(--principal-color);
    width: 100%;
}

.div-cont {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
    opacity: .7;
    user-select: none;
}

.div-izq {
    display: flex;
    width: 40%;
    background-color: rgb(0, 0, 0);
    height: 1px;
    margin-right: 5px;
}

.div-der {
    width: 40%;
    background-color: rgb(0, 0, 0);
    height: 1px;
    margin-left: 5px;
}


/*casillas de USUARIO, EMAIL, CONTRASEÑA*/

h2 {
    font-size: 1.2rem;
    margin: 19px 0 3px 0;
}

label {
    margin-left: 8px;
    margin-bottom: 4px;
    font-size: 1rem;
}

input {
    padding: 9px;
    border-radius: 9px;
    border: none;
}

.ojitoContra {
    position: absolute;
    width: 30px;
    cursor: pointer;
    top: 50px;
    right: 5px;
    box-sizing: border-box;
}


/*alerta personalizada :)*/


#fondoOscuro {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
}


#alertaPersonalizada {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(206, 224, 255);
    width: 700px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 799999px 90px black;
    z-index: 1000;
}
.p-alerta1{
    text-align: center;
    font-size: 19px;
    padding-top: 50px;
}
.p-alerta2{
    text-align: center;
    font-size: 19px;
    padding-top: 17px;
}
.botonyalerta{
    height: 100%;
}
.boton-alerta{
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: end;
    align-items: end;
}
#alertaPersonalizada button {
    display: flex;
    margin: 40px auto;
    padding: 10px 50px;
    border-radius: 10px;
    border: 1px solid var(--secundario-color);
    background-color: var(--principal-color);
    box-shadow: 0 0 10px 1px black;
    cursor: pointer;
}

#alertaPersonalizada button:hover{
    opacity: .7;
}



/*alerta personalizada  2  :)*/

#fondoOscuro2 {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
  }
  
  
  #alertaPersonalizada2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(206, 224, 255);
    width: 700px;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 799999px 90px black;
    z-index: 1000;
  }
  .p-alerta1{
    text-align: center;
    font-size: 19px;
    padding-top: 50px;
  }
  .p-alerta2{
    text-align: center;
    font-size: 19px;
    padding-top: 17px;
  }
  .botonyalerta{
    height: 100%;
  }
  .boton-alerta{
    display: flex;
    height: 100%;
    margin: 0 auto;
    justify-content: end;
    align-items: end;
  }
  #alertaPersonalizada2 button {
    display: flex;
    margin: 40px auto;
    padding: 10px 50px;
    border-radius: 10px;
    border: 1px solid var(--secundario-color);
    background-color: var(--principal-color);
    box-shadow: 0 0 10px 1px black;
    cursor: pointer;
  }
  
  #alertaPersonalizada2 button:hover{
    opacity: .7;
  }